* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #3282ff;
  color: #3a5071;
  font-family: OpenSans-Bold;
}

.employee p {
  color: #ffffff;
  font-size: 42px;
  margin: 8px;
  padding: 0px;
  text-align: center;
}

.employee img {
  margin: 0 auto;
  display: block;
}

.table-container {
  margin: 0 auto;
  width: 800px;
  height: 392px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table {
  display: flex;
  flex-direction: column;
}

.header-row .fa {
  font-size: 12px;
  margin-left: 20px;
}

.data-row:nth-child(odd) { background: #e5eefb; }
.data-row:nth-child(even) { background: #ffffff; }

.header-row, .data-row  {
  display: inline-flex;
  text-align: center;
  font-weight: bold;
}

.header-title, .data-row-value {
  height: 56px;
  padding: 13px;
  flex: 1;
  border-right: thin solid #989A9C;
}

.header-title {
  cursor: pointer;
}

.chilid img {
  margin: 0 auto;
  display: block;
  color: #ffffff;
}

.table-container .paginationjs {
  width: 124px;
  text-align: center;
  margin: 0 auto;
}